---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    // TODO: fetch all work
    const allWork: any[] = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
    return [
    { params: { tag: "astro" }, props: { posts: allWork } },
    { params: { tag: "successes" }, props: { posts: allWork } },
    { params: { tag: "community" }, props: { posts: allWork } },
    { params: { tag: "blogging" }, props: { posts: allWork } },
    { params: { tag: "setbacks" }, props: { posts: allWork } },
    { params: { tag: "learning in public" }, props: { posts: allWork } },
  ];
}

const { posts } = Astro.props;
const { tag } = Astro.params;
const listedPosts = posts.filter(post => post.frontmatter.tags.includes(tag));
---
<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}:</p>
    <ul>
        { listedPosts.map(post => <li>{post.frontmatter.title}</li>)}
    </ul>
</BaseLayout>
