---
import '../styles/_global.scss';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="OHP">
    <p>Not found :(</p>
</BaseLayout>

