---
import Social from './Social.astro';
---
<footer>
    <p>Learn more about my projects on</p>
        <Social platform="github" username="hanna"></Social>
        <Social platform="facebook" username="hanna"></Social>
        <Social platform="twitter" username="hanna"></Social>
</footer>
