html {
  background-color: #efefef;
  font-family: sans-serif;
  color: #717cc0;
}

html.dark {
  background-color: #0d1116;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}


